<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo" href="#" (click)="navigateHome()">Tienda de colchones</a>
  </div>
</div>

<div class="header-container">
  <button *ngIf=!user nbButton outline status="primary" (click)="navigateLogin()">login</button>
  <nb-actions *ngIf=user size="small" >
    <nb-action class="user-action">
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.email">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
